<h2>👤 Crear nuevo usuario</h2>

<form [formGroup]="userForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Nombre completo</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roleOptions" [value]="role">{{ role }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Cinturón</mat-label>
    <mat-select formControlName="belt">
      <mat-option *ngFor="let belt of beltOptions" [value]="belt">{{ belt }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Centro escolar</mat-label>
    <input matInput formControlName="centro" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Crear usuario</button>
</form>
